@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf8f4;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    background-color: #95bfa4;
    padding: 36px 24px;
    border-top: 6px dotted #6c9179;
    color: #fbf8f4;
}

img {
    height: 200px;
}

nav {
    background-color: #f29E38;
    border-bottom: 6px dotted #ee752f;
    padding: 16px;
}

a:hover {
    color: #95bfa4;
}

a {
    text-decoration: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
  }

  .tacos {
    color: #ee752f;
  }

  .line1 {
    /*text-shadow: 1px 1px 2px #6c9179;*/
    color: #d87789
  }

  .line2 {
    /*text-shadow: 1px 1px 2px #d87789;*/
    color: #6c9179;
  }

  tr:nth-child(even) {
    background-color: #95bfa4c4;
  }

.rating {
  color: #d87789;
}

/*.pic {
  margin-bottom: 10px;
  box-shadow: 10px 5px 5px #d87789;
}*/

.steps {
  color: #d87789;
}

ol li::marker {
  color: #d87789;
}

.tabletop {
  border-bottom: 2px dotted #6c9179;
}
